@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap'
'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

html *{
   
}

body {
    background-image: url("img/fundo2.png")
    
    }
.neutro {
     background-color: white;
}


.texto {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    
}

h1{
    color: #F57367;
    font-size: 50px;
    text-align: center;
    font-family: 'Sigmar One', cursive;
    }

.conhecer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #802FEB;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    }
    
    
.desafios{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #25D1F7;
    font-size: 20px;
    text-decoration: none;
    }


.participe{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #F57367;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    }

.projetos{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #D648C4;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    }

.grid{
    
    display: grid;
    grid-template-columns: 240px 240px 240px 240px;
    grid-gap: 10px;
    }



.cartao {
  
    border-radius: 8px;
    padding: 20px;
    
     }


img {
     max-width: 100%;
     
          }

/* efeito de zoom na imagem*/

div.zoom {
  max-height: 250px;
  overflow: hidden;
}

.zoom > img {
  transition: transform 0.5s ease;
}


.cartao:hover > .zoom > img {
  transform: scale(1.2);
}



footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
   padding: 3px;
   background-color: #D648C4;
    }

/* página Conhecer - explicação do projeto, de como ele surgiu e link para outras páginas com resultado dos desafios*/

.box {
    margin: 80px 125px;
    padding: 10px 20px 30px 40px;
    background-color: white;
}

.grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
    text-align: center;
}

/* página Desafios*/
.btn {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3;
    border-radius: 8px;
    box-shadow: 1px 1px 2px black;
}

.container {
  max-width: 70vw;
  margin: 100px auto;
}



/* Redes sociais no footer */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  
}

.fa:hover {
 opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
 }

.fa-instagram {
  background: #125688;
  color: white;  
}

.fa-youtube {
  background: #bb0000;
  color: white;
}


